<h2>Create New Problem</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@problem) do |f| %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, {autofocus: true, class: "form-control"} %>
      </div><br />

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, {autofocus: true, class: "form-control", rows: "10" } %>
      </div><br />

      <div class="field">
        <%= f.label :publish_status %>
        <%= f.select :publish_status, [["Closed", "closed"], ["Publish", "published"]] %>
      </div><br />

      <div class="actions">
        <%= f.submit "Submit", class:"btn btn-primary", role:"button" %>
      </div>
    <% end %>
  </div><!-- "panel-body" -->
</div><!-- "panel panel-default" -->
