<h2>#<%= @problem.id %> <%= @problem.title %></h2>

by <%= @problem.user.email %><br/>
<br/>

<!-- Problem -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem</h3>
  </div>
  <div class="panel-body">
    <%= markdown(@problem.description).html_safe %>
  </div>
</div>

This problem has <%= @problem.cases.count %> test cases.

<!-- TestCases -->
<% if current_user == @problem.user %>

  <h4> TestCases </h4>
  This section is visible only you.

  <% @problem.cases.each do |c| %>
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="input-group">
          <span class="case input-group-addon">Input</span>
          <input type="text" class="form-control" value="<%= c.input %>" disabled=true>
        </div>
        <div class="input-group">
          <span class="case input-group-addon">Expected</span>
          <input type="text" class="form-control" value="<%= c.expected %>" disabled=true>
        </div>

      </div><!-- "panel-body" -->
    </div><!-- "panel panel-default" -->
  <% end %>
<% end %>

Status: <%= @problem.publish_status %>
